<ul class="list-unstyled" class="col-lg-12">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <li ng-repeat="sponsor in sponsors[0]">
            <div class="sponsor-box bordered-shadowed">
                <div class="sponsor-inner-box" >
                    <div class="sponsor-avatar">
                        <img ng-src="{{ sponsor.image }}" />
                    </div><br/>
                    <div class="sponsor-info">
                        <div class="sponsor-name"><a ng-href="{{ sponsor.url }}" target="_new">{{ sponsor.sponsor }}</a></div>
                        <div class="sponsor-twitter" ng-hide="{{ sponsor.twitter == 0 }}"><a ng-href="https://twitter.com/{{ sponsor.twitter }}" target="_new">{{ sponsor.twitter }}</a></div>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <li ng-repeat="sponsor in sponsors[1]">
            <div class="sponsor-box bordered-shadowed">
                <div class="sponsor-inner-box">
                    <div class="sponsor-avatar">
                        <img ng-src="{{ sponsor.image }}"/>
                    </div><br/>
                    <div class="sponsor-info">
                        <div class="sponsor-name"><a ng-href="{{ sponsor.url }}" target="_new">{{ sponsor.sponsor }}</a></div>
                        <div class="sponsor-twitter" ng-hide="{{ sponsor.twitter == 0 }}"><a ng-href="https://twitter.com/{{ sponsor.twitter }}" target="_new">{{ sponsor.twitter }}</a></div>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <li ng-repeat="sponsor in sponsors[2]">
            <div class="sponsor-box bordered-shadowed">
                <div class="sponsor-inner-box">
                    <div class="sponsor-avatar">
                        <img ng-src="{{ sponsor.image }}"/>
                    </div> <br/>
                    <div class="sponsor-info">
                        <div class="sponsor-name"><a ng-href="{{ sponsor.url }}" target="_new">{{ sponsor.sponsor }}</a></div>
                        <div class="sponsor-twitter" ng-hide="{{ sponsor.twitter == 0 }}"><a ng-href="https://twitter.com/{{ sponsor.twitter }}" target="_new">{{ sponsor.twitter }}</a></div>
                    </div>
                </div>
            </div>
        </li>
    </div>
</ul>